In [103]:
import pandas as pd
import numpy

## Read data and get information about it

In [104]:
data = pd.read_csv("train_and_test2.csv")

In [105]:
data.head(5)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.00,7.25,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.00,0,0,0
1,2,38.00,71.28,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.00,0,0,1
2,3,26.00,7.92,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.00,0,0,1
3,4,35.00,53.10,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.00,0,0,1
4,5,35.00,8.05,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.00,0,0,0

In [106]:
data.shape

(1309, 28)

In [107]:
data.describe

<bound method NDFrame.describe of       Passengerid   Age   Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0               1 22.00   7.25    0      1     0       0       0       0
1               2 38.00  71.28    1      1     0       0       0       0
2               3 26.00   7.92    1      0     0       0       0       0
3               4 35.00  53.10    1      1     0       0       0       0
4               5 35.00   8.05    0      0     0       0       0       0
...           ...   ...    ...  ...    ...   ...     ...     ...     ...
1304         1305 28.00   8.05    0      0     0       0       0       0
1305         1306 39.00 108.90    1      0     0       0       0       0
1306         1307 38.50   7.25    0      0     0       0       0       0
1307         1308 28.00   8.05    0      0     0       0       0       0
1308         1309 28.00  22.36    0      1     0       0       0       0

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
0          0  ...        0        0        0       3        0        0
1          0  ...        0        0        0       1        0        0
2          0  ...        0        0        0       3        0        0
3          0  ...        0        0        0       1        0        0
4          0  ...        0        0        0       3        0        0
...      ...  ...      ...      ...      ...     ...      ...      ...
1304       0  ...        0        0        0       3        0        0
1305       0  ...        0        0        0       1        0        0
1306       0  ...        0        0        0       3        0        0
1307       0  ...        0        0        0       3        0        0
1308       0  ...        0        0        0       3        0        0

      Embarked  zero.17  zero.18  2urvived
0         2.00        0        0         0
1         0.00        0        0         1
2         2.00        0        0         1
3         2.00        0        0         1
4         2.00        0        0         0
...        ...      ...      ...       ...
1304      2.00        0        0         0
1305      0.00        0        0         0
1306      2.00        0        0         0
1307      2.00        0        0         0
1308      0.00        0        0         0

[1309 rows x 28 columns]>

## Data preprocessing

In [108]:
column_names_to_remove = []
for i in range(0, len(data.columns)):
    if str(data.columns[i]).find("zero") != -1:
        column_names_to_remove.append(data.columns[i])

data = data.drop(labels=column_names_to_remove, axis=1)

In [109]:
data = data.drop(labels='Passengerid', axis=1)
data.rename(columns={"2urvived":"survived"}, inplace=True)
data

       Age   Fare  Sex  sibsp  Parch  Pclass  Embarked  survived
0    22.00   7.25    0      1      0       3      2.00         0
1    38.00  71.28    1      1      0       1      0.00         1
2    26.00   7.92    1      0      0       3      2.00         1
3    35.00  53.10    1      1      0       1      2.00         1
4    35.00   8.05    0      0      0       3      2.00         0
...    ...    ...  ...    ...    ...     ...       ...       ...
1304 28.00   8.05    0      0      0       3      2.00         0
1305 39.00 108.90    1      0      0       1      0.00         0
1306 38.50   7.25    0      0      0       3      2.00         0
1307 28.00   8.05    0      0      0       3      2.00         0
1308 28.00  22.36    0      1      1       3      0.00         0

[1309 rows x 8 columns]

In [112]:
import math
for i in range(0, len(data.columns)):
    if data[data.columns[i]].isnull().any():
        print(data.columns[i])
        for j in range(0, data.shape[0]):
            if math.isnan(data[data.columns[i]][j]):
                data = data.drop(j)
data.shape

Embarked

(1307, 8)

In [113]:
y = data["survived"].values
data = data.drop(labels="survived", axis=1)
X = data.values

In [114]:
import pandas as pd
from sklearn import preprocessing

x = data.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data = pd.DataFrame(x_scaled)
data

        0    1    2    3    4    5    6
0    0.27 0.01 0.00 0.12 0.00 1.00 1.00
1    0.47 0.14 1.00 0.12 0.00 0.00 0.00
2    0.32 0.02 1.00 0.00 0.00 1.00 1.00
3    0.44 0.10 1.00 0.12 0.00 0.00 1.00
4    0.44 0.02 0.00 0.00 0.00 1.00 1.00
...   ...  ...  ...  ...  ...  ...  ...
1302 0.35 0.02 0.00 0.00 0.00 1.00 1.00
1303 0.49 0.21 1.00 0.00 0.00 0.00 0.00
1304 0.48 0.01 0.00 0.00 0.00 1.00 1.00
1305 0.35 0.02 0.00 0.00 0.00 1.00 1.00
1306 0.35 0.04 0.00 0.12 0.11 1.00 0.00

[1307 rows x 7 columns]

In [115]:
from sklearn.decomposition import PCA

In [116]:
X = data.values
pca = PCA(n_components=7, svd_solver='full')
pca.fit(X)

PCA(n_components=7, svd_solver='full')

In [118]:
pca.explained_variance_ratio_

array([0.39876275, 0.29535748, 0.22147206, 0.0379499 , 0.02637627,
       0.01163677, 0.00844478])

In [119]:
data = data.drop([3, 6], axis=1)

In [120]:
X = data.values

In [121]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Start finding best model

In [122]:
import lazypredict
from lazypredict.Supervised import LazyClassifier

In [123]:
clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)
models

100%|██████████| 29/29 [00:01<00:00, 22.39it/s]

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
PassiveAggressiveClassifier,0.73,0.77,0.77,0.74,0.01
NearestCentroid,0.74,0.72,0.72,0.75,0.01
RandomForestClassifier,0.79,0.71,0.71,0.79,0.21
SGDClassifier,0.79,0.70,0.70,0.78,0.03
ExtraTreesClassifier,0.77,0.70,0.70,0.77,0.16
DecisionTreeClassifier,0.77,0.69,0.69,0.76,0.01
BaggingClassifier,0.77,0.68,0.68,0.77,0.03
LGBMClassifier,0.79,0.68,0.68,0.77,0.10
LinearDiscriminantAnalysis,0.79,0.66,0.66,0.77,0.02
XGBClassifier,0.78,0.66,0.66,0.76,0.09
SVC,0.79,0.66,0.66,0.77,0.03
ExtraTreeClassifier,0.73,0.64,0.64,0.72,0.01
KNeighborsClassifier,0.77,0.64,0.64,0.74,0.02
LogisticRegression,0.78,0.63,0.63,0.75,0.01
LabelSpreading,0.77,0.63,0.63,0.74,0.06
LabelPropagation,0.76,0.63,0.63,0.74,0.06
RidgeClassifier,0.77,0.62,0.62,0.74,0.01
LinearSVC,0.77,0.62,0.62,0.74,0.05
CalibratedClassifierCV,0.77,0.62,0.62,0.74,0.16
NuSVC,0.78,0.62,0.62,0.74,0.04
AdaBoostClassifier,0.76,0.62,0.62,0.74,0.09
RidgeClassifierCV,0.77,0.62,0.62,0.74,0.01
BernoulliNB,0.77,0.62,0.62,0.74,0.01
QuadraticDiscriminantAnalysis,0.76,0.62,0.62,0.73,0.01
DummyClassifier,0.66,0.56,0.56,0.66,0.01
GaussianNB,0.73,0.56,0.56,0.69,0.01
Perceptron,0.71,0.55,0.55,0.68,0.01

In [141]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [157]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

rfc=RandomForestClassifier(random_state=42)
param_grid = {
    'n_estimators': [10, 50, 100, 200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4, 6, 8, 10, 12, 14],
    'criterion' :['gini', 'entropy']
}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5, scoring='accuracy')
CV_rfc.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 6, 8, 10, 12, 14],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 50, 100, 200, 500]},
             scoring='accuracy')

In [158]:
CV_rfc.best_params_

{'criterion': 'entropy',
 'max_depth': 4,
 'max_features': 'auto',
 'n_estimators': 100}

In [159]:
rfc1=RandomForestClassifier(random_state=42, max_features=CV_rfc.best_params_["max_features"], n_estimators= CV_rfc.best_params_["n_estimators"], max_depth=CV_rfc.best_params_["max_depth"], criterion=CV_rfc.best_params_["criterion"])

In [160]:
rfc1.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=4, random_state=42)

In [156]:
print(classification_report(y_test, rfc1.predict(X_test)))

              precision    recall  f1-score   support

           0       0.80      0.95      0.87       192
           1       0.71      0.36      0.48        70

    accuracy                           0.79       262
   macro avg       0.76      0.65      0.67       262
weighted avg       0.78      0.79      0.76       262